@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

.img-container {
    top: 50vw;
    width: 100vw;
    position: relative;
    height: 51.5vw;
    /* height: 44.5vw; */
    overflow: hidden;
    display: none;

    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.img-container h1 {
    color: #ffffff;
    /* top: 40%; */
    /* left: 30%; */
    z-index: 500;
    position: absolute;
    font-size: 3rem;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    width: 30rem;
    text-shadow: -16px 6px 15px #000000;
    text-align: center;
}

.message {
    font-size: 1.2rem;
    display: none;
    text-shadow: -16px 6px 15px #000000;
}

#second-message {
    width: 25rem;
    top: 10%;
    right: 25%;
    font-size: 1.5rem;
}

#third-message {
    width: 18rem;
    top: 23%;
    left: 50%;
    font-size: 1.5rem;    
}

#fourth-message {
    /* backdrop-filter: blur(1px); */
    width: 23rem;
    top: 33%;
    right: 10%;
    font-size: 1.5rem;
}

/* @media screen and (max-width: 850px) {
    #fourth-message {
        top: 33%;
        left: 56%;
        font-size: 1.5rem;
    }
} */

.img-container-trigger {
    width: 100vw;
    height: 51.5vw;
    position: absolute;
    overflow-y: scroll;
    z-index: 600;
    top: 0;
    overflow-x: hidden;
}

.bottom-space {
    height: 300rem;
    width: 100vw;
}

.img-container-trigger p{
    opacity: 0;
    color: #ffffff;
}

.message-trigger {
    height: 20rem;
    margin-bottom: 5rem;
}

.img-container img{
    position: absolute;
    width: 150%;
    transform: translateX(12%);
    top: 0;
}

.shadow {
    background-color: rgba(0, 0, 0, 0.56);
    position: relative;
    width: 420%;
    /* margin-left: -125vw; */
    margin-left: -15vw;
    height: 400%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.56) -120px -15px 43px 18px;;
    z-index: 100;
}

/* .img-container {
    width: 100vw;
}

.img-container img{
    position: absolute;
    width: 100%;
} */
/* 
.vectors {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vectors #lines {
    width: 52%;
    position: relative;
    top: 2rem;
    margin-right: 5px;
    height: 22rem;
}

.vectors #top-left {
    position: absolute;
    width: 35%;
    left: 0;
    top: 0;
}

.vectors #middle {
    position: absolute;
    width: 17%;
    left: 28rem;
    top: 7.5rem;
}

.vectors #middle2 {
    position: absolute;
    width: 17%;
    top: 12.7rem;
    right: 19rem;
}

.vectors #middle3 {
    position: absolute;
    width: 17%;
    top: 18.5rem;
    left: 19rem;
}

.vectors #middle4 {
    position: absolute;
    width: 17%;
    top: 23.5rem;
    right: 18rem;
} */